@model UTS_Portal.Models.Roles

@{
    var permissions = new List<string>()
                    {
                        "ADMIN",
                        "VIEW_REPORT",
                        "MENU_MANAGE",
                        "BLOG_MANAGE",
                        "ORDER_MANAGE"
                    };
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Role</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Functions" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label><label class="text-danger">*</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Permissions</label>
                <br />
                @foreach (var per in permissions)
                {
                    var isCheck = false;
                    if (Model != null && Model.Functions != null && Model.Functions.Replace(" ", "").Split(",").Contains(per))
                    {
                        isCheck = true;
                    }
                    <input type="checkbox" id="per-@per" name="pers" value="@per" checked="@isCheck">
                    <label class="mr-3 text-lg-left" for="per-@per">@per</label>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
            jQuery(document).ready(function () {
                $("input[type=checkbox]").change(function () {
                    var functions = $('input[type=checkbox]:checked').map(function (_, el) {
                        return $(el).val();
                    }).get().join(", ");

                    $("#Functions").val(functions);
                });
            })
    </script>
}
