:root {
    --number_bf_dish: 2;
    --number_af_dish: 2;
    --cell_lg: 75px;
    --cell_md: 80px;
    --cell_xs: 145px;
    --cell_noteat: 40px;
    /*-----Calc for breakfast title -----*/
    --title_bf_cell_lg: calc(var(--cell_lg) * var(--number_bf_dish) - 2px + var(--cell_noteat));
    --title_bf_cell_md: calc(var(--cell_md) * var(--number_bf_dish) - 2px + var(--cell_noteat));
    --title_bf_cell_xs: calc(var(--cell_xs) * var(--number_bf_dish) - 2px + var(--cell_noteat));
    /*-----Calc for affternoon title -----*/
    --title_af_cell_lg: calc(var(--cell_lg) * var(--number_af_dish) - 2px + var(--cell_noteat));
    --title_af_cell_md: calc(var(--cell_md) * var(--number_af_dish) - 2px + var(--cell_noteat));
    --title_af_cell_xs: calc(var(--cell_xs) * var(--number_af_dish) - 2px + var(--cell_noteat));
}
