

.footer-form .form-register .wpcf7 .screen-reader-response {
    position: relative;
    z-index: 5;
    display: none;
}

    .footer-form .form-register .wpcf7 .screen-reader-response p {
        font-size: 19px;
        line-height: 26px;
        font-weight: 700;
        margin-bottom: 15px;
        color: rgba(255, 131, 2, 1);
        display: none;
    }


/*contact-main*/


/*footer*/


.footer-form {
    margin: 0 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-image: url(/images/logo/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 3;
    border-radius: 16px;
}

    .footer-form .form-image {
        position: relative;
        width: 60%;
        align-self: flex-end;
    }

        .footer-form .form-image .bg-main {
            z-index: 3;
            width: 100%;
        }

    .footer-form .form-register {
        padding: 40px 40px 32px 40px;
        background-color: white;
        max-height: unset;
        margin-right: 160px;
        border: 1px dashed #FFCD9A;
        position: relative;
        align-self: center;
        z-index: 2;
        border-radius: 16px;
        width: 50%;
        margin-top: 30px;
        margin-bottom: 40px;
    }

        .footer-form .form-register .wpcf7 {
            height: 100%;
        }

        .footer-form .form-register form {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .footer-form .form-register::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0px;
            left: 0px;
            z-index: 2;
            background-color: white;
            border-radius: 16px;
        }

        .footer-form .form-register::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 16px;
            left: 16px;
            z-index: 1;
            background-color: #D87208;
            border: 1px dashed #FFCD9A;
            border-radius: 16px;
        }

        .footer-form .form-register h3 {
            text-align: center;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: rgba(52, 52, 52, 1);
            z-index: 3;
            position: relative;
        }

            .footer-form .form-register h3 span {
                position: relative;
            }

        .footer-form .form-register .form-input {
            display: flex;
            flex-direction: row;
            position: relative;
            justify-content: space-between;
            z-index: 3;
        }


            .footer-form .form-register .form-input input, .form-input textarea, select, option {
                width: 100%;
                padding: 6px;
                margin-bottom: 25px;
                font-size: 18px;
                line-height: 26px;
                color: rgba(52, 52, 52, 1);
                font-weight: 400;
                letter-spacing: 0.02em;
                border: 0px;
                border-bottom: 1px solid #E6E6E6;
            }


                .footer-form .form-register .form-input input:focus, textarea {
                    outline: 0;
                    border: 0px;
                    border-bottom: 1px solid #E6E6E6;
                }

    .footer-form .form-register .form-input input.special {
        width: 98%;
    }

.footer-form .form-register .button-section {
    width: 100%;
    display: flex;
    z-index: 3;
    position: relative;
    justify-content: center;
}

    .footer-form .form-register .button-section button {
        width: 100%;
    }


.footer-form .form-register .form-input span {
    width: 100%;
}

.submenu.mb {
    display: none;
}

.button3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background-color: rgba(255, 131, 2, 1);
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    transition: 0.3s;
    border-radius: 16px;
    border: none;
}

    .button3:hover {
        transform: scale(1.01);
        transition: 0.1s;
    }

.form-register .wpcf7-response-output {
    font-size: 19px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 15px;
    color: rgba(255, 131, 2, 1);
    border: 0px;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 15px;
    z-index: 10;
}
@media only screen and (max-width: 1100px) {
    .footer-form {
        margin: 0 !important;
        width: auto !important;
    }

    .form-register {
        margin-right: 8% !important;
        margin-left: 5% !important;
        width: 100% !important;
    }

    .footer-form .form-image {
        width: 0 !important;
    }
}