.control-label {
    font-weight: bold;
}

#result {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.thumbnail {
    height: 192px;
}


/* Iphone */
@media only screen and (max-width: 414px) {
    main {
        padding: 8px !important;
    }

    .card-body {
        padding: 6px !important;
    }
}