.sidebar-nav .nav-link {
    color: #012970;
    background: #fff;
}

.sidebar-nav .nav-link i {
    color: #012970;
}

.sidebar-nav .active .nav-link {
    color: #4154f1 !important;
    background: #f6f9ff !important;
}

.sidebar-nav .active i {
    color: #4154f1 !important;
}

.control-label {
    font-weight: bold;
}

#result {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.thumbnail {
    height: 192px;
}


/* Iphone */
@media only screen and (max-width: 414px) {
    main {
        padding: 8px !important;
    }

    .card-body {
        padding: 6px !important;
    }
}