@{
    ViewData["Title"] = "Home Page";
    string parentCode = User.Claims.FirstOrDefault(x => x.Type.Equals("Code", StringComparison.OrdinalIgnoreCase))?.Value;
    string RoleName = User.Claims.FirstOrDefault(x => x.Type.Equals("RoleName", StringComparison.OrdinalIgnoreCase))?.Value;
}
@section Styles {
    <style>
        .dashboard img {
            width: 100%;
            max-width: 250px;
            border-radius: 15px;
        }

        .footer {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1030;
        }
    </style>
}

<div class="text-center dashboard">
    <div class="row">
        <div class="col-md-4 mb-4">
            <a asp-controller="Orders" asp-action="Index">
                <img src="~/images/logo/menu.png">
            </a>
        </div>
        <div class="col-md-4 mb-4">
            @if (RoleName == "Parent")
            {
                <a asp-controller="Orders" asp-action="History" asp-route-parentId="@parentCode.Trim()">
                    <img src="~/images/logo/order-history.png">
                </a>
            }
            else
            {
                <a asp-controller="Report" asp-action="SpendingReport">
                    <img src="~/images/logo/order-history.png">
                </a>
            }
        </div>
        <div class="col-md-4 mb-4">
            @if (RoleName == "Parent")
            {
                <a asp-controller="Report" asp-action="SpendingReport" asp-route-parentId="@parentCode.Trim()">
                    <img src="~/images/logo/report.png">
                </a>
            }
            else
            {
                <a asp-controller="Report" asp-action="SpendingReport">
                    <img src="~/images/logo/report.png">
                </a>
            }
        </div>
        <div class="col-md-4 mb-4">
            <a asp-controller="Posts" asp-action="List">
                <img src="~/images/logo/blogs.png">
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a asp-controller="FAQs" asp-action="List">
                <img src="~/images/logo/faq.png">
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a asp-controller="Feedbacks" asp-action="Create">
                <img src="~/images/logo/feedback.png">
            </a>
        </div>
    </div>
</div>
