@model UTS_Portal.Models.Posts

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/assets/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/assets/summernote/summernote.css" rel="stylesheet" />
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home"></i>Posts</a>
            <span class="breadcrumb-item active">New</span>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create new post</h5>
                <form class="row" asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-12 mb-2">
                        <label asp-for="Title" class="control-label"></label><label class="text-danger">*</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label class="control-label">Description</label>
                        <textarea asp-for="Scontents" class="form-control" /></textarea>
                        <span asp-validation-for="Scontents" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label class="control-label">Image</label>
                        <input name="fThumb" type="file" class="form-control-file" asp-for="Thumb" />
                        <span asp-validation-for="Thumb" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label asp-for="Contents" class="control-label"></label>
                        <textarea class="summernote" asp-for="Contents"></textarea>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label asp-for="Author" class="control-label"></label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-2">
                        <label asp-for="Views" class="control-label"></label>
                        <input asp-for="Views" class="form-control" />
                        <span asp-validation-for="Views" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 mb-2">
                        <input class="form-check-input ml-1" type="checkbox" asp-for="Published">
                        <label class="ml-4">Publish</label>
                    </div>
                    <div class="col-md-12 mb-2">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
    <script src="~/assets/summernote/summernote-bs4.js"></script>

    <script>

        jQuery(document).ready(function () {
            $('.summernote').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 200,
                minHeight: null,
                maxHeight: null,
                focus: true
            });
        });
    </script>
}
